@media (min-width: 1170px) and (max-width: 1559px) {
  .heading-text {
    -webkit-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8); } }

@media (min-width: 750px) and (max-width: 1169px) {
  .content-warm-body {
    width: 100%;
    margin-left: 0; }
  .content-warm-body:before {
    top: 658px;
    right: 290px;
    z-index: 1;
    height: 381px; }
  .heading-text {
    z-index: 4; }
  .description {
    z-index: 4; }
  .achievements {
    z-index: 4; }
  .warm-body-btn {
    z-index: 4; } }

@media (min-width: 320px) and (max-width: 749px) {
  .content-warm-body:before {
    position: absolute;
    bottom: -169px;
    left: -405px;
    z-index: 1;
    opacity: .2;
    -webkit-transform: scale(0.43, 0.43);
    -ms-transform: scale(0.43, 0.43);
    transform: scale(0.43, 0.43); }
  .heading-text {
    z-index: 4;
    -webkit-transform: scale(0.43, 0.43);
    -ms-transform: scale(0.43, 0.43);
    transform: scale(0.43, 0.43);
    margin-bottom: 50px; }
  .description {
    z-index: 4; }
  .achievements {
    z-index: 4; }
  .warm-body-btn {
    z-index: 4; }
  .achievements {
    display: none; }
  .description {
    width: 230px;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 88px; }
  .warm-body-btn {
    margin-bottom: 50px; } }
