.content-contact-me
	background-color: #f5f5f5

.content-contact-me-header
	font-family: "Montserrat", Arial, sans-serif
	font-size: 32px
	font-weight: bold
	text-transform: uppercase
	text-align: center
	background-color: white
	padding-bottom: 125px

.content-contact-me-container
	display: flex
	background-color: white
	padding: 0 160px

.content-contact-me-left
	margin-right: 255px

.content-contact-me-left__mail
	width: 365px
	font-family: "Proxima Nova", Arial, sans-serif
	font-size: 32px
	font-weight: bold
	border-bottom: 1px solid #717174
	position: relative
	margin-left: 60px
	margin-bottom: 32px

.content-contact-me-left__mail:before
	position: absolute
	top: 0
	left: -60px
	color: #df1f1f

.content-contact-me-left__phone
	font-family: "Proxima Nova", Arial, sans-serif
	font-size: 32px
	font-weight: bold
	position: relative
	margin-left: 60px
	margin-bottom: 32px

.content-contact-me-left__phone:before
	position: absolute
	top: 0
	left: -60px
	color: #df1f1f
	font-size: 28px

.content-contact-me-left__messengers
	width: 222px
	box-sizing: border-box
	font-family: "Proxima Nova Semi", Arial, sans-serif
	font-size: 20px
	font-weight: bold
	padding: 12px 20px
	background-color: #f4f4f4
	margin-left: 94px
	margin-bottom: 45px
	position: relative

.content-contact-me-left__messengers:before
	content: ""
	width: 94px
	height: 47px
	background: url(../img/contact-me-messengers-img.jpg)
	position: absolute
	top: 0
	left: -94px

.content-contact-me-social
	position: relative
	margin-bottom: 40px

.content-contact-me-social:after
	content: ""
	width: 100px
	height: 2px
	background-color: #df1f1f
	position: absolute
	bottom: 0
	left: 0

.content-contact-me-social li
	width: 100px
	display: flex
	flex-direction: column
	justify-content: center
	border-right: 1px solid #e7e7e7
	box-sizing: border-box

.content-contact-me-social li:last-child
	border-right: none

.content-contact-me-social a
	font-size: 25px
	text-align: center

.content-contact-me-social a:before
	margin-bottom: 16px

.content-contact-me-social__followers
	display: none
	font-family: "Proxima Nova", Arial, sans-serif
	font-size: 19px
	text-align: center
	margin-bottom: 8px

.content-contact-me-social__description
	display: none
	font-family: "Proxima Nova", Arial, sans-serif
	font-size: 11px
	text-align: center
	color: #939393

.content-contact-me-input
	display: block
	width: 360px
	border: none
	border-bottom: 2px solid
	padding-bottom: 19px
	outline: none
	font-family: "Proxima Nova", Arial, sans-serif
	font-size: 20px
	font-weight: bold
	color: black

.content-contact-me-input::-webkit-input-placeholder
	font-family: "Proxima Nova", Arial, sans-serif
	font-size: 20px
	font-weight: bold
	color: black

.content-contact-me-input__usr-name
	margin-bottom: 47px

.content-contact-me-input-title
	display: block
	font-family: "Proxima Nova", Arial, sans-serif
	font-size: 13px
	color: #838383
	margin-bottom: 15px

.content-contact-me-input__usr-mail
	margin-bottom: 63px

.content-contact-me-input__usr-message
	margin-bottom: 55px

.content-contact-me-btn
	font-family: "Montserrat", Arial, sans-serif
	font-size: 15px
	color: #df1f1f
	padding: 15px 30px
	border: 2px solid #df1f1f
	border-radius: 35px
	background-color: white
	outline: none
	cursor: pointer

.content-contact-me-btn:hover
	background-color: #df1f1f
	color: white

